outputs/preflight-brighter-hard-sharing-2026-10-01/best_model.pt filter=lfs diff=lfs merge=lfs -text
outputs/preflight-study2-learning-2026-10-02/brighter-hard/best_model.pt filter=lfs diff=lfs merge=lfs -text
outputs/preflight-study2-learning-2026-10-02/brighter-stl-intensity/best_model.pt filter=lfs diff=lfs merge=lfs -text
